<template>
    <div class="line-horizontal">
        <div class="columns is-marginless">
            <div 
                v-for="homework in homeworks" 
                :key="homework.id" 
                class="column">
                <Homework 
                    v-if="homework.complete==false" 
                    :homework="homework">
                </Homework>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'
    import Homework from './../Homework.vue'

    const STORE_NAME = 'homeworksList'
    const NOW = moment()

    export default {
        components: {
            Homework
        },

        props: {
            type: {
                type: String,
                required: true
            }
        },

        data () {
            return {
                homeworks: []
            }
        },

        mounted () {
            this.loadHomeworks()
        },

        methods: {

            loadData () {
                this.homeworks = JSON.parse(window.localStorage.getItem(STORE_NAME)) || []
            },

            loadHomeworks () {
                this.loadData()

                if (this.homeworks.length) {
                    if (this.type === 'expired') {
                        let homeworks = this.homeworks.filter(function (homework) {
                            if (moment(homework.deliveryDate).isBefore(NOW)) {
                                return true
                            }
                            return false
                        }).slice(0, 4)
                        console.log('VENCIDAS *************************************')
                        console.log(homeworks)
                        this.homeworks = homeworks
                    }
                    if (this.type === 'next') {
                        let homeworks = this.homeworks.filter(function (homework) {
                            if (moment(homework.deliveryDate).isBetween(moment().subtract(1, 'day'), moment().add(6, 'day'))) {
                                return true
                            }
                            return false
                        }).slice(0, 4)
                        console.log('PROXIMAS *************************************')
                        console.log(homeworks)
                        this.homeworks = homeworks
                    }
                    if (this.type === 'last') {
                        let homeworks = this.homeworks.sort(function (oldValue, newValue) {
                            return moment(newValue.registrationDate) - moment(oldValue.registrationDate)
                        }).slice(0, 4)
                        console.log('ULTIMAS *************************************')
                        console.log(homeworks)
                        this.homeworks = homeworks
                    }
                    if (this.type === 'hard') {
                        let homeworks = this.homeworks.filter(function (homework) {
                            if (homework.hard === true) {
                                return true
                            }
                            return false
                        }).slice(0, 4)
                        this.homeworks = homeworks
                        console.log('DIFICILES *************************************')
                        console.log(homeworks)
                    }
                }
            },

            sortData (data) {
                let dataSort = this.data.sort(function (oldValue, newValue) {
                    return moment(newValue.registrationDate) - moment(oldValue.registrationDate)
                }).slice(0, 4)

                return dataSort
            }
        }
    }
</script>

<style>
</style>