<template>
  <div class="container field">
    <nav class="navbar is-light">
        <div class="navbar-start">
            <a class="navbar-item">
                <img src="./../../assets/img/logo/logoapp.png">
            </a>
        </div>

         <div class="navbar-item">
            <div class="field has-addons">
                <div class="control">
                    <input 
                        v-model="searchQuery"
                        class="input is-small" 
                        type="text" 
                        placeholder="Buscar tarea">
                </div>
                <div class="control">
                    <a @click="search" class="button is-info is-small">
                    Buscar
                    </a>
                    <a @click="clear" class="button is-ligth is-small">
                    &times;
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#">
                    <span>
                        <i class="fa fa-user-circle-o"></i>
                    </span>
                    Perfil
                    <img class="image" src="./../../assets/img/perfil/perfil.png">
                </a>
                <div class="navbar-dropdown">
                    <a class="navbar-item" href="#">
                       Ver Perfil
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="#">
                        Cambiar Niñx
                    </a>
                    <a class="navbar-item" href="#">
                        Inicio
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="#">
                        Salir
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <h4>{{quantity}}</h4>
    <div 
        v-for="homeworkObj in homeworkObjs" 
        :key="homeworkObj.id"
        class="columns">
        <div class="column">
            <Homework 
                v-if="homeworkObj.complete==false" 
                :homework="homeworkObj">
            </Homework>
        </div>
    </div>


  </div>
</template>

<script>
    import Homework from './../Homework.vue'

    const homeworkObjs = [
        {
            'name': 'Literatura',
            'description': 'Literatura',
            'time': '+5 días',
            'type': this.type,
            'complete': false
        },
        {
            'name': 'Historia',
            'description': 'Historia',
            'time': '+5 días',
            'type': this.type,
            'complete': false
        },
        {
            'name': 'Legislación',
            'description': 'Legislación',
            'time': '+5 días',
            'type': this.type,
            'complete': false
        },
        {
            'name': 'Programación',
            'description': 'Programación',
            'time': '+5 días',
            'type': this.type,
            'complete': false
        },
        {
            'name': 'Matemáticas',
            'description': 'Matemáticas',
            'time': '+5 días',
            'type': this.type,
            'complete': false
        }
    ]

    export default {
        components: {
            Homework
        },

        data () {
            return {
                searchQuery: '',
                homeworkObjs: [],
                quantity: ''
            }
        },

        methods: {
            search () {
                this.homeworkObjs = homeworkObjs
                this.quantity = this.quantityResultSearch
            },
            clear () {
                this.homeworkObjs = []
                this.quantity = this.quantityResultSearch
            }
        },

        computed: {
            quantityResultSearch () {
                return `Total resultados: ${this.homeworkObjs.length}`
            }
        }
    }
</script>

<style>
</style>