<template>
    <div class="menu w-h-100 d-flex ">
        <div>
            <p class="menu-label">
                <span class="icon">
                    <i class="fa fa-home"></i>
                </span>
                <a href="#">Inicio</a>
            </p>
            <p class="menu-label">
                <span class="icon">
                    <i class="fa fa-bookmark"></i>
                </span>
                <a href="#">Tareas</a>
            </p>
            <p class="menu-label">
                <span class="icon">
                    <i class="fa fa-child"></i>
                </span>
                <a href="#">Niñxs</a>
            </p>
        </div>
        <div>
            <p class="menu-label">
                <span class="icon">
                    <i class="fa fa-gear"></i>
                </span>
                <a href="#">Configuración</a>
            </p>
        </div>
    </div>
</template>

<script>
</script>

<style>
</style>