<template>
    <div class="bg-homework">
        <div class="field">
            <div class="">
                <label v-if="homework.hard === true" class="has-text-danger">
                    <span>
                        <i class="fa fa-exclamation-circle"></i>
                    </span>
                </label>
            </div>
            <div class="control ">
                <label v-if="deliveryTerm > 0" class="has-text-success">
                    <span>
                        <i class="fa fa-plus"></i>
                        {{deliveryTerm}} días
                    </span>
                </label>
                <label v-else-if="deliveryTerm <= 0" class="has-text-danger">
                    <span>
                        <i v-if="deliveryTerm < 0" class="fa fa-minus"></i>
                        {{(-1) * deliveryTerm}} días
                    </span>
                </label>
                <span v-if="expired" class="icon has-text-danger">
                    <i class="fa fa-exclamation-triangle fa-2"></i>
                </span>
                <input v-model="homework.complete" type="checkbox">
            </div>
        </div>

        <div>
            <p><strong>{{homework.subjectCode}}</strong></p>
            <p>{{homework.description}}</p>
        </div>
    </div>
</template>

<script>
    import moment from 'moment'

    const NOW = moment()

    export default {
        props: {
            homework: {
                type: Object,
                required: true
            }
        },
        data () {
            return {

            }
        },
        mounted () {},
        methods: {},
        computed: {
            expired () {
                if (moment(this.homework.deliveryDate).isBefore(NOW)) {
                    return true
                }
                return false
            },

            deliveryTerm () {
                const deliveryTerm = moment(this.homework.deliveryDate)
                const difference = deliveryTerm.diff(NOW, 'days')

                return difference
            }
        },
        watch: {}
    }
</script>

<style>
</style>