<template>
    <div class="container w-h-100">
        <p class="title">
            <span>
                <i class="fa fa-plus"></i>
            </span>
            Nueva Tarea
        </p>
        <form>

            <div class="field is-grouped is-grouped-right">
                <p class="control">
                    <a @click="createHomework" class="button is-primary">
                    Guardar
                    </a>
                </p>
                <p class="control">
                    <a @click="clearData" class="button is-danger">
                    &times;
                    </a>
                </p>
            </div>

            <div class="field">
                <label class="checkbox">
                    <input v-model="newHomework.hard" type="checkbox">
                    Complicada
                </label>
                <label class="label">Asignatura</label>
                <div class="field has-addons">
                    <div class="control is-grouped is-expanded">
                        <div class="select is-fullwidth">
                            <select v-model="newHomework.subjectCode">
                                <option value="011">Literatura</option>
                                <option value="012">Historia</option>
                                <option value="013">Legislación</option>
                                <option value="014">Programación</option>
                                <option value="015">Matemáticas</option>
                            </select>
                        </div>
                    </div>
                    <div class="control">
                        <button class="button is-primary">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Fecha Entrega</label>
                <div class="field is-grouped">
                    <div class="control">
                        <input v-model="newHomework.deliveryDate" class="input" type="date">
                    </div>
                    <div class="control">
                        <div 
                            class="notification notification-small"
                            :class="{
                                'is-warning': availableTime >= 0,
                                'is-danger': availableTime < 0
                            }"
                        >
                            <p v-if="availableTime < 0">
                                Tarea vencida hace <strong>{{(-1) * availableTime}} días</strong>
                            </p>
                            <p v-else>
                                Tiempo disponible: <strong>{{availableTime}} días </strong>
                            </p>

                        </div>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Resumen Tarea</label>
                <div class="control">
                <input v-model="newHomework.summary" class="input" type="text" placeholder="Breve resumen de la tarea...">
                </div>
            </div>

            <div class="field">
                <label class="label">Descripción</label>
                <div class="control">
                    <textarea v-model="newHomework.description" class="textarea" placeholder="Descripción de la tarea..."></textarea>
                </div>
            </div>

            <div class="file has-name is-info">
                <label class="file-label">
                    <input class="file-input" type="file" name="resume">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa fa-upload"></i>
                        </span>
                        <span class="file-label">
                            Archivo/Imagen
                        </span>
                    </span>
                    <span class="file-name">
                        Foto
                    </span>
                </label>
            </div>

        </form>

    </div>
</template>

<script>
    import moment from 'moment'

    const STORE_NAME = 'homeworksList'
    const NOW = moment()

    export default {
        data () {
            return {
                newHomework: {
                    subjectCode: '',
                    subjectName: '',
                    registrationDate: NOW,
                    deliveryDate: NOW,
                    type: '',
                    hard: false,
                    complete: false,
                    summary: '',
                    description: '',
                    filePath: ''
                },

                homeworks: []
            }
        },

        created () {
            this.loadData()
        },

        methods: {
            createHomework () {
                if (!this.newHomework.subjectCode || !this.newHomework.registrationDate) {
                    return console.log('Campos obigatorios')
                }

                this.homeworks.push(this.newHomework)

                this.saveData(this.homeworks)

                this.clearData()
            },

            removeHomework (homework) {
                this.homeworks.splice(homework, 1)
            },

            saveData (homeworks) {
                window.localStorage.setItem(STORE_NAME, JSON.stringify(homeworks))
            },

            loadData () {
                this.homeworks = JSON.parse(window.localStorage.getItem(STORE_NAME)) || []
            },

            clearData () {
                this.newHomework = {
                    subjectCode: '',
                    subjectName: '',
                    registrationDate: NOW,
                    deliveryDate: NOW,
                    type: '',
                    hard: false,
                    complete: false,
                    summary: '',
                    description: '',
                    filePath: ''
                }
            }
        },

        computed: {
            availableTime () {
                const deliveryTerm = moment(this.newHomework.deliveryDate)
                const difference = deliveryTerm.diff(NOW, 'days')
                return difference
            }
        }
    }
</script>

<style>

</style>
