<template>
  <div class="container">
    <div class="img-logo">
      <img src="./../assets/img/logo/logoapp.png">
    </div>
    <form>
      <div class="field">
        <label class="label">Mamá o papá</label>
        <div class="control">
          <input class="input" type="text" placeholder="Nombre">
        </div>
      </div>
      <div class="field">
          <label class="label">Edad niña o niño</label>
          <div class="control">
            <input class="input" type="number" placeholder="Edad">
        </div>
      </div>
      <div class="field">
          <label class="label">Grado Escolar</label>
          <div class="control">
            <input class="input" type="number" placeholder="Grado">
        </div>
      </div>
      <div class="field">
          <div class="control">
            <button class="button is-primary">Empezar</button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
</script>

<style>
</style>
