<template>
  <div id="app">
    <!--<Register></Register>-->
    <Navbar></Navbar>
    <div class="container">
      <div class="columns">

        <div class="column is-one-fifth">
          <NavigatorMenu></NavigatorMenu>
        </div>

        <div class="column is-three-fifth">
            <NewHomework></NewHomework>
        </div>

      </div>

        <div>
          <div class="navbar">
              <div class="navbar-start">
                  <h2>Tareas Vencidas</h2>
              </div>
              <div class="navbar-end">
                  <a href="#">+ Ver Todo</a>
              </div>
          </div>
          <div class="columns is-marginless">
            <Homeworks type="expired"></Homeworks>
          </div>

          <hr>
          <div class="navbar">
              <div class="navbar-start">
                  <h2>Próximas Tareas</h2>
              </div>
              <div class="navbar-end">
                  <a href="#">+ Ver Todo</a>
              </div>
          </div>
          <div class="columns is-marginless">
            <Homeworks type="next"></Homeworks>
          </div>

          <hr>
          <div class="navbar">
              <div class="navbar-start">
                  <h2>Últimas Tareas Agregadas</h2>
              </div>
              <div class="navbar-end">
                  <a href="#">+ Ver Todo</a>
              </div>
          </div>
          <div class="columns is-marginless">
            <Homeworks type="last"></Homeworks>
          </div>

          <hr>
          <div class="navbar">
              <div class="navbar-start">
                  <h2>Tareas Complicadas</h2>
              </div>
              <div class="navbar-end">
                  <a href="#">+ Ver Todo</a>
              </div>
          </div>
          <div class="columns is-marginless">
            <Homeworks type="hard"></Homeworks>
          </div>

        </div>
    </div>



  </div>
</template>

<script>
    import Register from './components/Register.vue'
    import Navbar from './components/layouts/Navbar.vue'
    import NavigatorMenu from './components/layouts/NavigatorMenu.vue'
    import Homeworks from './components/layouts/Homeworks.vue'
    import NewHomework from './components/NewHomework.vue'

    export default {
        // name: 'app',
        data () {
            return {
                msg: 'Algo'
            }
        },
        components: {
            Register,
            Navbar,
            NavigatorMenu,
            Homeworks,
            NewHomework
        }
    }
</script>

<style lang="scss">
  @import './scss/main.scss';
  @import './assets/font-awesome-4.7.0/scss/font-awesome.scss'
</style>
