@import '../../node_modules/bulma/bulma.sass';

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.w-h-100 {
    width: 100%;
    height: 100%;
}

.notification-small {
    padding: 7px
}

.d-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.line-horizontal {
  border-left: 1px solid rgb(218, 218, 218);
  padding-left: 5px;
}

.img-logo {
    width: 200px;
    margin: 2px auto;
    display: block;
}

.bg-homework {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('./assets/img/homework.png');
    background-color: rgb(241, 247, 246);
    background-size: 100% 100%;
    width: 150px;
    height: 100px;
    margin: 0 auto;
    border-radius: 2px;
    font-size: 14px !important;
    position: relative;

    div:first-child {
        display: flex;
        background-color: rgba(223, 236, 235, 0.7);
        justify-content: space-between;
    }

    div:last-child {
        background-color: rgba(223, 236, 235, 0.7);
        //position: absolute;
        //position: absolute;
        //bottom: 10px;

    }

}

.send-end {
    position: absolute;
    bottom: 20px;
    left: 0;
}
